parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    paths:
        - src/
        - tests/
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        - tests/bootstrap.php
    ignoreErrors:
        -
            message: '#Property .*\\Entity\\.*::\$id is never written, only read.#'
        -
            message: '#Call to an undefined method Symfony\\Component\\HttpFoundation\\Session\\SessionInterface::getFlashBag#'
        -
            message: '#Each class must be in a namespace of at least one level (a top-level vendor name)#'