parameters:
    level: 0
    paths:
        - src/
        - tests/
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        - tests/bootstrap.php
    ignoreErrors:
        -
          message: '#Property App\\Entity\\.*::\$id is never written, only read.#'