{% extends 'base.html.twig' %}

{% block title %}Panel administratora | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row flex-nowrap">

            {# LEFT SIDEBAR #}
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 bg-light border-end admin-sidebar">
                {% include '@admin/partials/_sidebar.html.twig' %}
            </div>

            {# MAIN CONTENT #}
            <div class="col py-3">
                {% block admin_content %}
                    {# tutaj pojawi się treść poszczególnych widoków #}
                {% endblock %}
            </div>

        </div>
    </div>
{% endblock %}
