{% extends 'base.html.twig' %}

{% block title %}Regulamin{% endblock %}

{% block body %}
    <section class="container mt-5">
        <h1>Regulamin platformy „F1Simulator”</h1>

        <h2 class="mt-4">§1 Postanowienia ogólne</h2>
        <ol>
            <li>Niniejszy regulamin określa zasady korzystania ze strony internetowej <strong>„F1Simulator”</strong>, dostępnej pod adresem [adres strony].</li>
            <li>Platforma umożliwia użytkownikom symulowanie sezonu F1.</li>
        </ol>

        <h2 class="mt-4">§2 Definicje</h2>
        <ul>
            <li><strong>Platforma</strong> – strona internetowa dostępna pod adresem [adres strony].</li>
            <li><strong>Administrator</strong> – właściciel i operator platformy.</li>
            <li><strong>Użytkownik</strong> – każda osoba fizyczna korzystająca z platformy.</li>
        </ul>

        <h2 class="mt-4">§3 Zasady korzystania</h2>
        <ol>
            <li>Korzystanie z platformy jest bezpłatne.</li>
            <li>Użytkownik zobowiązuje się do:
                <ul>
                    <li>działania z poszanowaniem innych użytkowników</li>
                    <li>powstrzymania się od publikowania treści nielegalnych lub niezwiązanych z celem platformy.</li>
                </ul>
            </li>
        </ol>

        <h2 class="mt-4">§4 Ochrona danych osobowych</h2>
        <ol>
            <li>Dane użytkowników są przetwarzane zgodnie z RODO.</li>
            <li>Szczegóły znajdują się w <a href="">Polityce prywatności</a>.</li>
            <li>Użytkownicy mają prawo dostępu do swoich danych, ich poprawiania oraz usunięcia.</li>
        </ol>

        <h2 class="mt-4">§5 Postanowienia końcowe</h2>
        <ol>
            <li>Administrator zastrzega sobie prawo do zmiany niniejszego regulaminu w dowolnym czasie.</li>
            <li>W sprawach nieuregulowanych niniejszym regulaminem zastosowanie mają przepisy prawa polskiego.</li>
            <li>Kontakt: <a href="mailto:[contact email]">[contact email]</a></li>
        </ol>
    </section>
{% endblock %}
