{% extends 'base.html.twig' %}

{% block title %}Terms of Service{% endblock %}

{% block body %}
    <section class="container mt-5">
        <h1>Terms of Service for the "F1Simulator" Platform</h1>

        <h2 class="mt-4">§1 General Provisions</h2>
        <ol>
            <li>These terms define the rules for using the website <strong>"F1Simulator"</strong>, available at [website address].</li>
            <li>The platform allows users simulate f1 season.</li>
        </ol>

        <h2 class="mt-4">§2 Definitions</h2>
        <ul>
            <li><strong>Platform</strong> – the website available at [website address].</li>
            <li><strong>Administrator</strong> – the owner and operator of the platform.</li>
            <li><strong>User</strong> – any natural person using the platform.</li>
        </ul>

        <h2 class="mt-4">§3 Terms of Use</h2>
        <ol>
            <li>Using the platform is free of charge.</li>
            <li>The user agrees to:
                <ul>
                    <li>act with respect to others</li>
                    <li>refrain from posting illegal or irrelevant content unrelated to the platform's purpose.</li>
                </ul>
            </li>
        </ol>

        <h2 class="mt-4">§4 Personal Data Protection</h2>
        <ol>
            <li>User data is processed in accordance with the GDPR.</li>
            <li>Details can be found in the <a href="">Privacy Policy</a>.</li>
            <li>Users have the right to access, correct, and delete their personal data.</li>
        </ol>

        <h2 class="mt-4">§5 Final Provisions</h2>
        <ol>
            <li>The administrator reserves the right to change these terms at any time.</li>
            <li>In matters not regulated herein, the provisions of Polish law shall apply.</li>
            <li>Contact: <a href="mailto:[contact email]">[contact email]</a></li>
        </ol>
    </section>
{% endblock %}
