<footer class="mt-auto bg-dark text-light py-3 border-top border-secondary">
    <div class="container">
        <div class="row align-items-center gy-2">
            <div class="col-md-4 text-center text-md-start">
                <span class="fw-bold text-uppercase">f1simulator</span>
            </div>
            <div class="col-md-4 text-center small">
                &copy; {{ "now"|date("Y") }} f1simulator. Wszelkie prawa zastrzeżone.
            </div>
            <div class="col-md-4 text-center text-md-end small">
                Wersja aplikacji:
                <span class="fw-semibold">
                    {{ app_version }}
                </span>
            </div>
        </div>
    </div>
</footer>
